  <div class="max-w-7xl mx-auto p-6 bg-white rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Documents</h1>
    <button (click)="onNewDocumentClick()" (click)="newDocumentModal.showModal()" class="px-4 py-2 bg-emerald-500 text-white rounded-lg hover:bg-emerald-600 transition duration-300 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
      New Document
    </button>    
  </div>

  <div class="flex mb-4">
    <div class="flex-grow flex items-center border rounded-l-lg px-2 bg-white">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
      <input
        type="text"
        placeholder="Search"
        [ngModel]="searchQuery()"
        (ngModelChange)="searchQuery.set($event); filterDocuments()"
        class="w-full p-2 focus:outline-none"
      />
    
    </div>
    <button (click)="openFilterModal()" class="bg-gray-100 px-4 py-2 rounded-r-lg hover:bg-gray-200 transition duration-300 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
      </svg>
      Filter
    </button>
  </div>

  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="min-w-full">
      <thead class="bg-gray-50">
        <tr>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Print</th>

          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Code</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subject/Title</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Category</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Created By</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date Created</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Origin Office</th>
          <th class="py-3 px-6 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @for (doc of filteredDocuments(); track doc.code) {
          <tr class="hover:bg-gray-50 transition duration-300">
          <td class="py-4 px-6 text-center">
            <div class="mb-2">
            </div>
            <button (click)="printQRCode(doc)" class="text-blue-600 hover:text-blue-900 transition duration-300" title="Print qrcode">
              <img src="assets/logo/printer (1).png" class="w-[60%]">
            </button>
            <button (click)="generateAndPrintBarcode(doc)" title="Print barcode">
              <img src="assets/logo/printer (2).png" class="w-[60%]">
            </button>
          </td>
          
        <td hidden><div #barcodeContainer [attr.data-doc-code]="doc.code">
          <svg></svg> <!-- JsBarcode will render here -->
        </div><div #qrcodeContainer [attr.data-doc-code]="doc.code">
          <qrcode [qrdata]="doc.code" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
        </div></td>

            <td class="py-4 px-6 text-sm font-medium text-gray-900">{{ doc.code }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ doc.subject }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ doc.category }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ doc.type }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ doc.createdBy }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ doc.dateCreated | date:'short' }}</td>
            <td class="py-4 px-6 text-sm text-gray-500">{{ doc.originOffice }}</td>
            <td class="py-4 px-6 text-sm font-medium text-center">
              <div class="flex justify-center space-x-2">
                <button (click)="viewDetails(doc.code)" class="text-indigo-600 hover:text-indigo-900" title="View Details">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                  </svg>
                </button>
                <button (click)="openReleaseModal(doc.code)" class="text-emerald-600 hover:text-emerald-900" title="Release Document">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
            
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="9" class="py-4 px-6 text-sm text-center text-gray-500">No documents found</td>
          </tr>
        }
      </tbody>
    </table>
  </div>



  <div class="flex items-center justify-between mt-4">
    <button 
      (click)="changePage(currentPage() - 1)" 
      [disabled]="currentPage() === 1"
      class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200 transition duration-300 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline mr-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      Previous
    </button>
    <div class="flex space-x-2">
      @for (page of getPaginationArray(); track $index) {
        @if (page === '...') {
          <span class="px-3 py-1 rounded-lg bg-gray-100 text-gray-700">{{ page }}</span>
        } @else {
          <button 
            (click)="changePage(page)" 
            [class.bg-indigo-600]="page === currentPage()"
            [class.text-white]="page === currentPage()"
            [class.bg-gray-100]="page !== currentPage()"
            [class.text-gray-700]="page !== currentPage()"
            class="px-3 py-1 rounded-lg transition duration-300"
          >
            {{ page }}
          </button>
        }
      }
    </div>
    <button 
      (click)="changePage(currentPage() + 1)" 
      [disabled]="currentPage() === totalPages()"
      class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200 transition duration-300 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Next
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline ml-1" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  </div>

  <!-- New Document Modal -->
  <dialog #newDocumentModal class="p-6 rounded-lg shadow-xl bg-white">
  <h2 class="text-2xl font-bold mb-4 text-gray-800">Create New Document</h2>
  <form (ngSubmit)="createNewDocument(); newDocumentModal.close()">
    <!-- Existing form fields -->
    <div class="mb-4">
      <label for="subject" class="block text-sm font-medium text-gray-700">Subject/Title</label>
      <input type="text" id="subject" [(ngModel)]="newDocumentData.subject" name="subject" required class="mt-1 block w-full rounded-tl-[5px] rounded-bl-[5px] border-gray-400 bg-gray-100 py-2 pl-2">
    </div>

    <div class="mb-4">
      <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
      <select id="category" [(ngModel)]="newDocumentData.category" (ngModelChange)="onCategoryChange($event)" name="category" required class="mt-1 block w-full rounded-md border-gray-300 shadow-lg bg-gray-100 py-2 pl-2">
        <option value="" disabled>Select a category</option>
        <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="type" class="block text-sm font-medium text-gray-700">Type</label>
      <select id="type" [(ngModel)]="newDocumentData.type" (ngModelChange)="updateNewDocument('type', $event)" name="type" required class="mt-1 block w-full rounded-md border-gray-300 shadow-lg bg-gray-100 py-2 pl-2">
        <option value="" disabled>Types</option>
        <option *ngFor="let type of types" [value]="type.type_id">{{ type.name }}</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="attachments" class="block text-sm font-medium text-gray-700">Attachments</label>
      <input type="file" id="attachments" (change)="handleFileInput($event)" multiple class="mt-1 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-indigo-50 file:text-indigo-700 hover:file:bg-indigo-100">
    </div>

    <p class="text-sm text-gray-600 mb-4">
      Note: The following will be automatically generated:
    </p>
    <ul class="list-disc list-inside text-sm text-gray-600 mb-4">
      <li>Document Code</li>
      <li>Origin Office</li>
      <li>Created By</li>
      <li>Date Created</li>
      <li>Empty Logbook</li>
    </ul>

    <div class="flex justify-end">
      <button type="button" (click)="newDocumentModal.close()" class="mr-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition duration-300">Cancel</button>
      <button type="submit" class="px-4 py-2 bg-emerald-500 text-white rounded-lg hover:bg-emerald-600 transition duration-300">Create</button>
    </div>
  </form>
  </dialog>

  <!-- Release Document Button -->
  <button [routerLink]="['/admin/release-document']" class="fixed bottom-4 right-4 px-6 py-3 bg-indigo-500 text-white rounded-full hover:bg-indigo-600 transition duration-300 flex items-center shadow-lg">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z" />
  </svg>
  Release Document
  </button>

  <!-- Release Document Modal -->
  <dialog #releaseDocumentModal class="p-6 rounded-lg shadow-xl bg-white">
  <h2 class="text-2xl font-bold mb-4 text-gray-800">Release Document</h2>
  <form (ngSubmit)="releaseDocument()">

    <div class="mb-4">
      <label for="releaseDocumentCode" class="block text-sm font-medium text-gray-700">Document Code</label>
      <div class="flex">
        <input type="text" id="releaseDocumentCode" [ngModel]="releaseDocumentInfo().code" (ngModelChange)="updateReleaseDocumentInfo('code', $event)" name="code" disabled="" class="mt-1 block w-full rounded-tl-[5px] rounded-bl-[5px] border-gray-400 bg-gray-100 py-2 pl-2">
        <button type="button" (click)="scanQRCode()" class="mt-1 px-4 py-2 bg-indigo-500 text-white rounded-r hover:bg-indigo-600 transition duration-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h3a1 1 0 011 1v3a1 1 0 01-1 1H4a1 1 0 01-1-1V4zm2 2V5h1v1H5zM3 13a1 1 0 011-1h3a1 1 0 011 1v3a1 1 0 01-1 1H4a1 1 0 01-1-1v-3zm2 2v-1h1v1H5zM13 3a1 1 0 00-1 1v3a1 1 0 001 1h3a1 1 0 001-1V4a1 1 0 00-1-1h-3zm1 2v1h1V5h-1z" clip-rule="evenodd" />
            <path d="M11 4a1 1 0 10-2 0v1a1 1 0 002 0V4zM10 7a1 1 0 011 1v1h2a1 1 0 110 2h-3a1 1 0 01-1-1V8a1 1 0 011-1zM16 9a1 1 0 100 2 1 1 0 000-2zM9 13a1 1 0 011-1h1a1 1 0 110 2v2a1 1 0 11-2 0v-3zM7 11a1 1 0 100-2H4a1 1 0 100 2h3zM17 13a1 1 0 01-1 1h-2a1 1 0 110-2h2a1 1 0 011 1zM16 17a1 1 0 100-2h-3a1 1 0 100 2h3z" />
          </svg>
        </button>
      </div>
    </div>

    <div class="mb-4">
      <label for="office" class="block text-sm font-medium text-gray-700">Office</label>
      <select id="office" [(ngModel)]="newDocumentData.office" name="office" required class="mt-1 block w-full rounded-md border-gray-300 shadow-lg bg-gray-100 py-2 pl-2">
        <option value="" disabled>Select an office</option>
        <option *ngFor="let office of offices" [value]="office.office_id">{{ office.office_name }}</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="releaseMessage" class="block text-sm font-medium text-gray-700">Message/Remarks</label>
      <textarea id="releaseMessage" [ngModel]="releaseDocumentInfo().message" (ngModelChange)="updateReleaseDocumentInfo('message', $event)" placeholder="Message" name="message" rows="3" class="mt-1 block w-full rounded-md bg-gray-100 border-gray-300 drop-shadow-lg focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-2 pl-2"></textarea>
    </div>
    <div class="flex justify-end">
      <button type="button" (click)="releaseDocumentModal.close()" class="mr-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition duration-300">Cancel</button>
      <button type="submit" class="px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition duration-300">Release</button>
    </div>
  </form>
  </dialog>

  <dialog #filterModal class="p-8 max-w-lg mx-auto rounded-2xl shadow-2xl bg-white relative">
    <!-- Close button -->
    <button type="button" (click)="filterModal.close()" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 transition duration-300">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </button>
  
    <!-- Modal Title -->
    <h2 class="text-3xl font-bold mb-6 text-gray-800 text-center">Filter Documents</h2>
  
    <!-- Filter Form -->
    <form (ngSubmit)="applyFilter()" class="space-y-6">
  
      <!-- Origin Office Filter -->
      <div>
        <label for="filterOffice" class="block text-lg font-medium text-gray-700 mb-2">Origin Office</label>
        <select id="filterOffice" [(ngModel)]="filterData.office" name="office" class="block w-full rounded-lg border border-gray-300 shadow-md bg-gray-100 py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition duration-300">
          <option value="">All Offices</option>
          <option *ngFor="let office of offices" [value]="office.office_id">{{ office.office_name }}</option>
        </select>
      </div>
  
      <!-- Category Filter -->
      <div>
        <label for="filterCategory" class="block text-lg font-medium text-gray-700 mb-2">Category</label>
        <select id="filterCategory" [(ngModel)]="filterData.category" name="category" class="block w-full rounded-lg border border-gray-300 shadow-md bg-gray-100 py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition duration-300">
          <option value="">All Categories</option>
          <option *ngFor="let category of categories" [value]="category.category_id">{{ category.name }}</option>
        </select>
      </div>
  
      <!-- Type Filter -->
      <div>
        <label for="filterType" class="block text-lg font-medium text-gray-700 mb-2">Type</label>
        <select id="filterType" [(ngModel)]="filterData.type" name="type" class="block w-full rounded-lg border border-gray-300 shadow-md bg-gray-100 py-3 px-4 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition duration-300">
          <option value="">All Types</option>
          <option *ngFor="let type of types" [value]="type.type_id">{{ type.name }}</option>
        </select>
      </div>
  
      <!-- Filter Buttons -->
      <div class="flex justify-between items-center mt-6">
        <button type="button" (click)="filterModal.close()" class="px-6 py-3 bg-gray-200 text-gray-700 rounded-full hover:bg-gray-300 hover:text-gray-800 transition duration-300 shadow-md">
          Cancel
        </button>
        <button type="submit" class="px-6 py-3 bg-emerald-500 text-white rounded-full hover:bg-emerald-600 transition duration-300 shadow-md">
          Apply Filter
        </button>
      </div>
    </form>
  </dialog>
  