<div class="max-w-7xl mx-auto p-6 bg-white rounded-lg shadow-lg">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Completed Documents</h1>
  </div>

  <div class="flex mb-4">
    <div class="flex-grow flex items-center border rounded-l-lg px-2 bg-white">
      <!-- Search Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="searchQuery"
        (input)="filterDocuments()"
        class="w-full p-2 focus:outline-none"
      />
    </div>
    <button (click)="toggleFilterModal()" class="bg-gray-100 px-4 py-2 rounded-lg hover:bg-gray-200 transition duration-300 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
      </svg>
      Filter
    </button>
  </div>

  <div class="overflow-x-auto bg-white rounded-lg shadow">
    <table class="min-w-full">
      <thead class="bg-gray-50">
        <tr>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Print</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Code</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Subject/Title</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Category</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Message/Remarks</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Received By</th>
          <th class="py-3 px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date Completed</th>
          <th class="py-3 px-6 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 text-gray-700">
        <tr *ngFor="let doc of paginatedDocuments()" class="hover:bg-gray-50 transition duration-300">
          <td class="py-4 px-6 text-center">
            <div class="mb-2">
            </div>
            <button (click)="printQRCode(doc)" class="text-blue-600 hover:text-blue-900 transition duration-300" title="Print qrcode">
              <img src="assets/logo/printer (1).png" class="w-[90%]">
            </button>
            <button (click)="generateAndPrintBarcode(doc)" title="Print barcode">
              <img src="assets/logo/printer (2).png" class="w-[90%]">
            </button>
          </td>
          
        <td hidden><div #barcodeContainer [attr.data-doc-code]="doc.code">
          <svg></svg> <!-- JsBarcode will render here -->
        </div><div #qrcodeContainer [attr.data-doc-code]="doc.code">
          <qrcode [qrdata]="doc.code" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
        </div></td>
          <td class="py-4 px-6 text-sm font-medium text-gray-900">{{ doc.code }}</td>
          <td class="py-4 px-6 text-sm text-gray-500">{{ doc.subject_title }}</td> 
          <td class="py-4 px-6 text-sm text-gray-500">{{ doc.category_name }}</td>
          <td class="py-4 px-6 text-sm text-gray-500">{{ doc.type_name }}</td>
          <td class="py-4 px-6 text-sm text-gray-500">{{ doc.message }}</td>
          <td class="py-4 px-6 text-sm text-gray-500">{{ doc.account_name }}</td>
          <td class="py-4 px-6 text-sm text-gray-500">{{ doc.received_date_received }}</td>
          <td class="py-4 px-6 text-sm font-medium text-center">
            <button class="text-blue-600 hover:text-blue-900 transition duration-300" (click)="viewDetails(doc.code)">
              <!-- View Details Icon -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex items-center justify-between mt-4">
    <button 
    (click)="changePage(currentPage() - 1)" 
    [disabled]="currentPage() === 1"
      class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200 transition duration-300 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center"
    >
      <!-- Previous Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
    </button>
    <div class="flex space-x-2">
      <button 
        *ngFor="let page of getPaginationArray()"
        (click)="changePage(page)"
        [ngClass]="{'bg-indigo-600 text-white': page === currentPage(), 'bg-gray-100 text-gray-700': page !== currentPage()}"
        class="px-3 py-1 rounded-lg transition duration-300"
      >
        {{ page }}
      </button>
    </div>
    <button 
    (click)="changePage(currentPage() + 1)"      
    [disabled]="currentPage === totalPages"
      class="px-4 py-2 bg-gray-100 text-gray-700 rounded-lg hover:bg-gray-200 transition duration-300 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center"
    >
      <!-- Next Icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
</div>




<div *ngIf="showFilterModal()" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full flex items-center justify-center">
  <div class="bg-white p-5 rounded-lg shadow-xl w-96">
    <h2 class="text-xl font-bold mb-4">Filter Documents</h2>
    
    <!-- <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="originOffice">
        Origin Office
      </label>
      <select [value]="selectedOffice()" (change)="updateSelectedOffice($event)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let office of offices()" [value]="office">{{ office }}</option>
      </select>
    </div> -->

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
        Category
      </label>
      <select [value]="selectedCategory()" (change)="updateSelectedCategory($event)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let category of categories()" [value]="category">{{ category }}</option>
      </select>
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="type">
        Type
      </label>
      <select [value]="selectedType()" (change)="updateSelectedType($event)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <option *ngFor="let type of types()" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div class="flex items-center justify-between">
      <button (click)="toggleFilterModal()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Cancel
      </button>
      <button (click)="applyFilter()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Apply Filter
      </button>
    </div>
  </div>
</div>